@font-face {
  font-family: "Slackey";
  src: url(../fonts/Slackey-Regular.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
} 

.nav-bar {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #404a80;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

.logo-nav {
  height: 75px;
  line-height: 75px;
  margin-left: 20px;
  transition: 1s;
}

.logo-nav:hover {
  opacity: 0.5;
}

.nav-bar ul {
  list-style: none;
  margin-right: 20px;
}

.nav-bar li {
  display: inline;
  line-height: 75px;
  margin: 0.5px;
}

.menu-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  transition: 1s;
  margin-right: 5px;
  font-weight: bolder;
}

.menu-link:hover {
  color: #858ec1;
}

.menu-link button {
  background-color: transparent;
  color: #fff;
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: bold;
  border: solid 2px #e9855d;
  border-radius: 20px;
  font-size: 1em;
  cursor: pointer;
  transition: 1s;
}

.menu-link button:hover {
  /*background-image: linear-gradient(to right, #e15f2c, #e9855d, #e15f2c);*/
  background-color: #e9855d;
  color: #fff;
}

.menu-icon {
 display: none;
}

.mobile-menu {
  display: none;
}

section:nth-child(even) {
  background-color: #c6d8ff;
}

section, footer {
  padding: 60px 0;
}

.parallax {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.parallax-1 {
  background-image: url(../images/banner.png);
}

h2 {
  margin: 10px;
  color: #272c4d;
  font-family: "Slackey";
  font-size: 2em;
}

section#about {
  display: flex;
  flex-direction: row;
}

.video-card {
  background-color: #404a80;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px #404a80;
}

.video-card h3 {
  font-family: "Slackey";
  font-size: 1.3em;
  color: #fff;
  margin-bottom: 30px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.content{
  width: 80vw;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

 p {
  margin: 10px;
  text-indent: 50px;
  font-family: "Poppins";
  text-align: justify;
  font-size: 1.2em;
  text-shadow: 1px 1px 2px rgba(68, 68, 68, 0.341);
}

.services-content {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cards {
  background-image: linear-gradient(to bottom, #c6d8ff, #404a80 60%);
  width: 175px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  box-shadow: 4px 4px 5px #888;
  padding: 0px 5px;
  margin: 25px;
}

.cards-container p {
  text-align: center;
  text-indent: 0;
  font-size: 0.9em;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 2px 2px 1px #272c4d;
  padding: 0;
  margin: 0;
}

.cards img {
  margin-top: 25px;
  margin-bottom: 10px;
}

.container-slider {
  display: flex;
  width: 100%;
  min-height: 500px;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.container-images {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 720px;
}

.slider {
  opacity: 0;
  transition: opacity .2s;
  position: absolute;
  width: 100%;
  border-radius: 20px;
}

.on {
  opacity: 1;
}

#prev-btn, #next-btn {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.8em;
  font-weight: 900;
  transition: all 1s;
}

#prev-btn:hover, #next-btn:hover {
  transform: scale(1.5);
}

.statement-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.statement-card {
  background-color: #404a80;
  width: 350px;
  height: 455px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px;
  box-shadow: 4px 4px 5px #888;
  padding: 15px;
  margin: 25px;
}

.statement-card p {
  color: #fff;
  font-weight: 600;
  font-size: 1em;
  text-indent: 0;
  padding: 0 20px;
  text-shadow: 2px 2px 1px #272c4d;
}

.left {
  position: relative;
  right: 145px;
  bottom: -10px;
}

.right {
  position: relative;
  left: 145px;
  top: -30px;
}

.avatar{
  position: relative;
  left: 60px;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.avatar p {
  color: #404a80;
  text-shadow: none;
}

.avatar-area {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-right: 65px;
}

.faq-container {
  box-shadow: 8px 10px 15px #0003;
  max-width: 80vw;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  margin: auto 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accordion-item {
  border-radius: 20px;
  background-color: #404a80;
  color: #fff;
}

.accordion-item:hover {
  opacity: 0.9;
}

.accordion-header {
  padding: 10px;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.accordion-content {
  margin-left: 50px;
  margin-right: 15px;
  overflow: hidden;
  height: 0;
  transition: 1s;
  font-size: 1em;
}

.active {
  padding-bottom: 10px;
}

.accordion-header p, .accordion-icon {
  font-weight: 600;
  text-indent: 0;
  font-size: 1.2em;
  justify-content: center;
  align-items: center;
}

.accordion-header p {
  flex-shrink: 8;
}

.accordion-content p {
  text-align: justify;
  font-size: 1em;
}

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 10px 50px;
}

.contact h3 {
  font-family: "Slackey";
  font-size: 1.3em;
  color: #272c4d;
}

.contact-info {
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: left;
  padding: 50px;
}

.schedule-container{
  background-color: #c6d8ff;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #888;
  margin-bottom: 15px;
  max-width: 420px;
}

.social-logos i {
  font-size: 1.5em;
  margin: 10px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  line-height: 46px;
  color: #fff;
  background: #404a80;
  border-radius: 50%;
  transition: 1s;
}

.social-logos i:hover {
  opacity: 0.7;
}

.contact-form {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  width: 75%;
  padding: 20px;
  background-color: #404a80;
  border-radius: 20px;
  color: #fff;
  box-shadow: 5px 5px 15px #888;
}

.input-style {
  display: flex;
  flex-direction: column;
}

.form-container input, textarea {
  outline: unset;
  padding: 10px;
  border-radius: 15px;
}

.form-container input:focus, textarea:focus {
  background-color: #b4bbde;
}

.form-container label {
  text-align: left;
  margin-left: 10px;
  font: 900 1.2em "Poppins";
}

input[type=submit] {
  border-radius: 25px;
  width: 150px;
  color: #272c4d;
  font: bold 1.2em "Poppins";
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid #858ec1;
  transition: 1s;
}

input[type=submit]:hover {
  background-color: #858ec1;
  border-color: #fff;
}

.contact-map {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 10px;
}

.map-container {
  background-color: #404a80;
  padding: 10px;
  border-radius: 5px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

article {
  width: 100%;
  text-align: center;
}

/* .content, .contact-info, .contact-form, .contact-map, .video-card, .cards, .statement-card {
  visibility: hidden;
} */

footer {
  background-color: #404a80;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-basis: 100%;
  padding: 10px;
}

.footer-info {
  grid-column-start: 2;
  grid-column-end: 4;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
}

.footer-info p {
  padding: 0;
  margin: 0.2em;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  transition: 1s;
}

footer a:hover {
  color: #858ec1;
}

.home-button {
  grid-column-start: 4;
  grid-column-end: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-button i {
  height: 46px;
  width: 46px;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  line-height: 46px;
  color: #272c4d;
  background: #fff;
  border-radius: 50%;
  margin: 20px;
  transition: 1s;
}

.home-button i:hover {
  background: #c6d8ff;
}

.socialMedia-logos {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialMedia-logos i {
  font-size: 1.5em;
  margin: 10px;
}

@media screen and (max-width: 1280px) {
  section#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1180px) {
  .parallax-1 {
    background-image: url(../images/banner-responsivo.jpg);
  }
}


@media screen and (max-width: 1000px) {
  .carousel img {
    width: 100%;
  }

  .nav-links {
    display: none;
  }

  .menu-icon {
    display: block;
    margin-right: 20px;
  }

  .menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 1s;
  }

  .menu-icon button:hover {
    opacity: 0.5;
  }

  .icon {
    width: 40px;
  }

  .mobile-menu {
    position: fixed;
    margin-top: 80px;
    background-color: #404a80;
    width: 100%;
    opacity: 0.9;
    z-index: 9998;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 50px;
  }

  .open {
    display: block;
    transition: 1s;
  }

  .content, .contact, section#about, .contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact {
    padding: 0;
  }

  .social-logos {
    font-size: 0.4em;
  }

  .contact-info {
    text-align: center;
    padding: 0;
  }

  .contact-info p {
    text-align: center;
    text-indent: 0;
  }

  .contact-form {
    margin: 10px 0 40px 0;
    width: 100vw;
  }

}

@media screen and (max-width: 700px) {
  section {
    padding: 0;
  }

  .title {
    margin-top: 50px;
  }

  h2 {
    font-size: 1.2em;
  }

  p {
    font-size: 0.8em;
    text-indent: 0;
  }

  .content{
    width: 100%;
    margin: 0;
  }

  .video-card {
    padding: 20px;
  }

  .video-card h3 {
    font-size: 0.7em;
    padding-bottom: 5px;
  }

  .flex {
    display: flex;
    flex-direction: column;
  }

  .statement-card {
    width: 300px;
    height: 390px;
  }
  
  .statement-card p {
    font-size: 0.8em;
    padding: 0 20px;
  }

  .left {
    right: 125px;
  }
  
  .right {
    left: 125px;
  }

  .faq-container {
    width: 600px;
    padding: auto;
    margin: auto 5px;
  }
  
  .accordion-header {
    padding: 10px;
    overflow: visible;
  }

  .accordion-header p, .accordion-icon {
    font-size: 0.8em;
    text-align: justify;
  }

  .accordion-header p {
    flex-shrink: 20;
  }

  .accordion-content p {
    font-size: 0.8em;
  }
  
  .accordion-content {
    margin-left: 15px;
    margin-right: 15px;
    overflow: hidden;
    height: 0;
    transition: 1s;
    font-size: 1em;
  }

  .contact-info {
    margin-top: 50px;
  }

  .contact h3 {
    font-size: 0.9em;
  }

  .form-container {
    width: 60%;
    padding: 20px;
  }
  
  .form-container input, textarea {
    outline: unset;
    padding: 5px;
    border-radius: 10px;
  }

  .form-container label {
    text-align: left;
    margin-left: 10px;
    font: 900 0.8em "Poppins";
  }
  
  input[type=submit] {
    width: 120px;
    font: bold 1em "Poppins";
  }
  
  /* .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contact-map {
    width: 100vw;
  } */

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-info {
    font-size: 1em;
  }
}

@media screen and (max-width: 625px) {
  .video {
    width: 280px;
    height: 157.5px;
  }
  #prev-btn, #next-btn {
    font-size: 1.2em;
  }

}
